body {
    font-family: Arial, sans-serif;
    background-color: #CCC;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    font-size: 20px;
}

/* ----------------------------------头图区域------------------------------------ */
header {
    background-image: url('./picture/header.png'); 
    background-position:center; /* 控制背景图片的位置 */
    background-size: cover;
    background-repeat: no-repeat; /* 防止背景图重复 */
    margin: auto;
    padding: 1px 1px; /* 设置一些内边距 */
    height: 150px;
    max-width: 996px;
}

header h1 {
    text-align: left;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    color: #ffffff;
    padding: 20px 100px;
    font-size: 40px;
}

@media (max-width: 600px) {
    header{
        height: 100px;
    }
    header h1 {
        padding: 1px 10px;
        font-size: 25px;
    }
}

/* ----------------------------------导航栏------------------------------------ */
nav {
    background-color: rgb(23, 118, 137);
    padding: 0px;
    width: 1000px;
    margin: auto;
}

@media(max-width: 600px){
    nav {
        width: auto;
    }
}

/* 无序列表 */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: auto;
}

nav li {
    float: left;
    border-left:1px solid #bbb;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: rgb(87, 156, 166);
}

/* 子菜单样式 */
.submenu {
    display: none;
    position: absolute;
    background-color: rgb(23, 118, 137); /* 子菜单背景颜色，可根据需要调整 */
    min-width: 120px; /* 设置子菜单的最小宽度 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 添加一些阴影效果 */
    z-index: 1; /* 确保子菜单在其他内容上方显示 */
}

/* 子菜单中的每个项 */
.submenu li {
    float: none; /* 确保子菜单项竖直排列 */
    border-bottom: 1px solid #bbb; /* 为每个子菜单项添加底部边框 */
}

/* 子菜单中的链接样式 */
.submenu a {
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* 悬停时显示子菜单 */
nav li:hover .submenu {
    display: block;
}

/* 子菜单项悬停效果 */
.submenu a:hover {
    background-color: rgb(87, 156, 166); /* 悬停时的背景颜色，可根据需要调整 */
}

/* ----------------------------------内容区域------------------------------------ */
section {
    padding: 2px 100px;
    width: 800px;
    margin: auto;
    background-color: #DDD;
    
}

@media(max-width: 600px){
    section {
        width: auto;
        padding: 2px 40px;
    }
}

/* 居中图片 */
.centered-image-container{
    text-align: center;
    margin: auto;
}

.centered-image-container img{
    display: inline-block;  /* 让容器变成块状元素，以适应图片大小 */
    max-width: 100%;        /* 图片最大宽度不超过容器宽度 */
}

/* 浮动图片 */
.floated-image-container {
    float: right; /* Or 'left', depending on where you want the image */
    margin: 0px 0px 20px 20px; /* Adjust the margins to create space around the image */
    /* border: 2px solid rgb(23, 118, 137); Represents the image border */
    width: 400px; /* Adjust as needed for your image */
}

@media(max-width: 600px){
    .floated-image-container {
        margin: 0px 0px 20px 20px; /* Adjust the margins to create space around the image */
        width: 100%; /* Adjust as needed for your image */
    }
}

.floated-image-description {
    text-align: center; /* Center the text if desired */
    margin-top: 0px; /* Space between the image and the description */
    font-size: 15px;
}

.floated-image-container img {
    width: 100%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 日志 */
.log-entry p:first-child {
    font-weight: bold;
    margin-top: 20px;
}

/* ----------------------------------底部------------------------------------ */

footer {
    background-color: #333;
    color: #fff;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: auto;
    width: 1000px;
    font-size: 15px;
}


/* ----------------------------------特殊格式------------------------------------ */
#helloPage-img-vega{
    width: 400px;
}
#helloPage-img-uni{
    width: 200px;
}
#helloPage-img-xr{
    width: 600px;
}

@media(max-width: 600px){
    #helloPage-img-vega{
        width: 100%;
    }
    #helloPage-img-uni{
        width: 45%;
    }
    #helloPage-img-xr{
        width: 100%;
    }
}
