body {
    background-color: var(--background-color-body);
    margin: 0px;
}

#content{
    max-width: 1000px;
    background-color: var(--background-color-content);

    margin: auto;

    border-left : 3px solid var(--border-color-content);
    border-right : 3px solid var(--border-color-content);
    border-bottom: 3px solid var(--border-color-content);
}

#header{
    height: 250px;
    background-color: var(--background-color-header);

    background-image: var(--background-image-header);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

#nav{
    min-height: 32px;
    background-color: var(--background-color-nav);

    border-top: 1px solid var(--border-color-nav);
    border-bottom: 1px solid var(--border-color-nav);
}

#section{
    padding: 20px 100px 60px;

    min-height: 1000px;
    background-color: var(--background-color-seciotn);
}

#footer{
    min-height: 32px;
    background-color: var(--background-color-footer);

    border-top: 1px solid var(--border-color-footer);
}