/* ----------------------------------导航栏------------------------------------ */
nav {
    background-color: var(--nav-color);
    padding: 0px;
    width: 1000px;
    margin: auto;
    border-left:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
    border-top:1px solid var(--border-color);
}

@media(max-width: 600px){
    nav {
        width: auto;
    }
}

/* 无序列表 */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: auto;
}

nav li {
    float: left;
    border-right:1px solid var(--border-color);
}

nav a {
    display: block;
    color: var(--nav-text-color);
    text-align: center;
    padding: 5px 13px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: var(--nav-a-color);
}

/* 子菜单样式 */
.submenu {
    display: none;
    position: absolute;
    background-color: var(--nav-color); /* 子菜单背景颜色，可根据需要调整 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 添加一些阴影效果 */
    z-index: 1; /* 确保子菜单在其他内容上方显示 */
}

/* 子菜单中的每个项 */
.submenu li {
    float: none; /* 确保子菜单项竖直排列 */
    border-bottom: 1px solid var(--border-color); /* 为每个子菜单项添加底部边框 */
}

/* 子菜单中的链接样式 */
.submenu a {
    color: var(--nav-text-color);
    padding: 5px 13px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* 悬停时显示子菜单 */
nav li:hover .submenu {
    display: block;
}

/* 子菜单项悬停效果 */
.submenu a:hover {
    background-color: rgb(87, 156, 166); /* 悬停时的背景颜色，可根据需要调整 */
}s