/* ----------------------------------底部------------------------------------ */

footer {
    background-color: var(--footer-color); 
    color: #fff;
    padding: 0px;
    width: 1000px; 
    margin: 0 auto; 
    text-align: center; 
    border-left:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
}

footer p{
    color: var(--footer-text-color);
    margin: auto;
    font-size: 15px;
}

@media(max-width: 600px){
    footer {
        width: 100%;
    }
}