/* ----------------------------------内容区域------------------------------------ */
section {
    flex: 1;
    padding: 2px 100px;
    width: 800px;
    margin: auto;
    background-color: var(--section-color);
    border:1px solid var(--border-color);
    min-height: 1000px;
}

section p {
    text-indent: 2em;
}

section li {
    font-size: 18px;
}

section li p{
    text-indent: 0em;
}

.sourceCode{
  font-size: 17px;
}

.math{
  color: var(--p-color);
  font-size: 17px;
  max-width: 100%;
}

.katex-display>.katex {
  overflow-y: hidden;
  overflow-x: auto;
}

figcaption {
  text-align: center;
  font-size: 17px;
  color: var(--p-color);
}

@media(max-width: 600px){
    section {
        width: auto;
        padding: 2px 20px;
    }
    .math {
      color: var(--p-color);
    }
}

/* markdown的块状样式 */

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

/* 居中图片 */
.centered-image-container{
    text-align: center;
    margin: auto;
    width: 80%;
}

.centered-image-container img{
    display: inline-block;  /* 让容器变成块状元素，以适应图片大小 */
    max-width: 100%;        /* 图片最大宽度不超过容器宽度 */
}

@media(max-width: 600px){
    .centered-image-container{
        width: 100%;
    }
}

/* 分列样式 */
.split-container {
    display: flex;
    width: 100%; /* 确保容器宽度为一行的宽度 */
}
  
.split-column {
    flex: 1; /* 默认情况下，两列平分空间 */
    /* 为了增加可读性和可维护性，可以添加一些内边距 */
    padding: 10px;
}
  
.split-left {
    flex: 6; /* 调整左侧列的宽度比例 */
}
  
.split-right {
    flex: 4; /* 调整右侧列的宽度比例 */
}
  

/* 文章展示 */
.timeline {
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px; /* 设置圆角的大小 */
}
.timeline h2 {
  text-align: center;
  color: var(--h2-color);
}
.timeline ul {
  list-style: none;
  padding: 0;
}
.timeline ul li {
  line-height: 2em;
  border-bottom: 1px solid var(--border-color);
}
.timeline ul li:last-child {
  border-bottom: none;
}
.timeline .date {
  color: var(--p-color);
  padding-right: 10px;
  border-right: 2px solid var(--border-color);
}
.timeline .event {
  margin-left: 10px;
}
.timeline a{
  text-decoration: none;
}

@media(max-width: 600px){
  .timeline {
    padding: 5px;
  }
}

/* 文章markdown列表 */
table {
  padding: 2em;
  border-collapse: collapse;
  width: auto;
  overflow-x: auto;
  display: block;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid var(--p-color);
  border-bottom: 1px solid var(--p-color);
}
th {
  border-top: 1px solid var(--p-color);
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: var(--p-color);
  font-size: 17px;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
  color: var(--p-color);
  font-size: 17px;
}