:root {
    --header-h1-color:#FFF;

    --background-color:#F4FFF8;
    --border-color:#A7A157;
    --section-color: #FBFFFD;

    --nav-color: #FEE11B; 
    --nav-a-color: #D9F8FA;
    --nav-text-color:#111;

    --h1-color:#3D3B20;
    --h2-color:#6A6637;
    --p-color:#073233;

    --footer-color:#BBB;
    --footer-text-color:#FFF;

    --a-color:#40AD82;
}

header {
    background-image: url('../picture/theme_Noel/Main_Noel.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

#blankPage-img{
    background-image: url('../picture/theme_Noel/404.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}