/* ----------------------------------底部------------------------------------ */

footer {
    background-color: var(--footer-color); 
    color: #fff;
    padding: 0px;
    width: 1000px; 
    margin: 0 auto; 
    text-align: center; 
    border-left:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
}

footer p{
    color: var(--footer-text-color);
    margin: 0px;
    font-size: 15px;
}

footer a{
    color: var(--footer-text-color);
    text-decoration: none;
}

@media(max-width: 600px){
    footer {
        width: 100%;
    }
}

.visitor-wrapper {
    display: flex; /* 使用flex布局使子元素排列在同一行 */
    align-items: center; /* 垂直居中对齐子元素 */
    justify-content: center; /* 水平居中对齐子元素 */
}

#visitorCount {
    display: inline; /* 将div设置为行内元素 */
    font-family: "pixel-cn", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: var(--p-color);
}

footer p a{
    font-size: 15px;
}