@font-face {
    font-family: "pixel-cn";
    src: url(./TTF/ark-pixel-12px-proportional-zh_cn.woff2) format(woff2);
  }

body {
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--h1-color);
    font-family: "pixel-cn";
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
    font-family: "pixel-cn";
    color:var(--h2-color);
}

h3 {
    font-size: 1.3em;
    font-family: "pixel-cn";
    color: var(--h2-color);
}

h4 {
    font-size: 1.1em;
    font-family: "pixel-cn";
    color: var(--h2-color);
}

p {
    line-height: 1.5em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    color:var(--p-color);
    font-size: 18px;
    font-family: "pixel-cn";
}

a {
    color: var(--a-color);
    font-family: "pixel-cn";
}

li {
    color:var(--p-color);
    font-family: "pixel-cn";
}

img {
    clear: both;
    display: block;
    margin: auto;
    max-width: 100%;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    img {
        width: 100%;
    }
}
