/* =========================全局变量========================= */
:root {
    --text-color-nav: #FFF;
    --text-color-footer: #FFF;

    --background-color-nav-li-hover: #AAA;

    --font-family: "pixel-cn";
}

/* =========================头图部分========================= */

#header h1{
    margin: 0px;
    padding: 30px 100px 0px;

    font-family: var(--font-family), sans-serif;
    font-size: 40px;

    color: #FFF;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

#header p{
    margin: 0px;
    padding: 0px 130px 0px;

    font-family: var(--font-family), sans-serif;
    font-size: 20px;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

#header a{
    text-decoration: none;
    color: #FFF;
}


/* =========================导航栏部分========================= */
#nav ul{
    margin: 0px;
    padding: 0px;

    /*滚动条*/
    overflow: hidden; 
    /* 列表样式显示 */
    list-style-type: none; 
}

#nav li {
    float: left;
    border-right: 1px solid var(--border-color-nav);
}

#nav .rightli{
    float: right;
    border-right: 0px;
    border-left: 1px solid var(--border-color-nav);
}

#nav a{
    margin: 1px;
    padding: 5px 13px;

    font-family: var(--font-family), sans-serif;
    font-size: 19px;

    color: var(--text-color-nav);
    text-decoration: none;
    display: block;
}

/* js用
识别和加载<a class="alink">，这样普通的a就不会加载出来奇怪的页面 */
#nav .alink {
    text-align: center;
}

/* :hover：这是一个伪类
用于选择鼠标悬停在元素上时的状态。
这表示当用户将鼠标悬停在任何 #nav 中的 <li> 元素上时，这个规则将被激活。 */
#nav li:hover {
    background-color: var(--background-color-nav-li-hover);
}

/* =========================导航栏子菜单========================= */

#nav .submenu {
    display: none;
    position: absolute;
    background-color: var(--nav-color); 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

/* 悬停时显示子菜单 */
#nav li:hover .submenu {
    display: block;
}

/* 把之前的#nav li 的float去掉
让元素按默认竖直排列 */
#nav .submenu li{
    float: none;
    border-bottom: 1px solid var(--border-color-nav);
    background-color: var(--background-color-nav);
}

#nav .submenu li:hover{
    background-color: var(--background-color-nav-li-hover);
}


/* =========================底部部分========================= */

#footer p{
    margin: 0px;
    padding: 0px;

    font-family: var(--font-family);
    font-size: 15px;

    color: var(--text-color-footer);

    text-align: center;
}

#footer a{
    color: var(--text-color-footer);

    text-decoration: none;
}

.flex-center {
    display: flex; /* 使用flex布局使子元素排列在同一行 */
    align-items: center; /* 垂直居中对齐子元素 */
    justify-content: center; /* 水平居中对齐子元素 */
}

#visitorCount {
    display: inline; /* 将div设置为行内元素 */

    font-family: "pixel-cn", sans-serif;
    font-weight: normal;
    font-size: 15px;
    
    color: var(--text-color-footer);;
}