/* =========================头像部分========================= */

#avatar-img{
    width: 100px;
    height: 100px;

    margin: 50px auto 0px;

    border: 2px solid var(--border-color-menu);
    border-radius: 50px;

    background-image: var(--background-image-avatar);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

#avatar-name{
    text-align: center;
    font-size: 25px;
}
#avatar-email{
    text-align: center;
    font-size: 18px;
}

/* =========================导航栏部分========================= */

#menu-nav-header{
    margin: 20px 40px 0px;
    padding: 0px;

    text-align: center;
    font-size: 20px;

    border-bottom: 1px solid var(--border-color-menu-nav);
}

#menu-nav-li{
    margin: 0px 80px 0px;
    padding: 3px;

    text-align: center;
    font-size: 20px;
}

#menu-nav-li a{
    text-decoration: none;
    display: block;

    color: var(--color-menu-nav-a);
}

/* =========================底部部分========================= */

#menu-footer p{
    margin: 0px;
    padding: 0px;

    font-family: var(--font-family);
    font-size: var(--font-size-menu-footer);

    color: var(--text-color-footer);

    text-align: center;
}

#menu-footer a{
    color: var(--text-color-footer);

    text-decoration: none;
}

.flex-center {
    display: flex; /* 使用flex布局使子元素排列在同一行 */
    align-items: center; /* 垂直居中对齐子元素 */
    justify-content: center; /* 水平居中对齐子元素 */
}

#menu-footer img{
    width: 1.2em;
    height: 1.2em;
}