@media (max-width: 600px) {
    :root {
        --font-size-section-p: 17px;
    }
    #content{
        border-left : none;
        border-right : none;
        border-bottom: none;
        min-width: 0px;
    }

    #header{
        height: 120px;
        width: auto;
    }
    #header h1 {
        padding: 1px 11px;
        font-size: 20px;
    }
    #header p{
        padding: 0px 0px 0px 10px;
        font-size: 14px;
    }

    #section{
        padding: 7%;
    }
    #section #mainPage-img{
        width: 80%;
    }
}

@media (max-width: 1250px) {
    #menu{
        display: none;
    }
    #nav{
        display: block;
    }
    #footer{
        display: block;
    }
    #content{
        margin: auto;
    }
}
