@media (max-width: 600px) {
    #header{
        height: 120px;
        width: auto;
    }
    #header h1 {
        padding: 1px 11px;
        font-size: 20px;
    }
    #header p{
        padding: 0px 0px 0px 10px;
        font-size: 14px;
    }
    #section{
        padding: 7%;
    }
}
