:root {
    /* 菜单部分 */
    --background-color-menu: #BBB;
    --border-color-menu: #A7A157;
    --border-color-menu-nav: #A7A157;
    --background-color-menu-nav:#EEE;
    --background-color-menu-footer:#BBB;

    --color-menu-nav-a: #40AD82;
    --text-color-menu: #111;

    /* 框架部分 */
    --background-color-body: #111;
    --background-color-content: #171818;
    --background-color-header: #171818;
    --background-color-nav: #FEE11B;
    --background-color-nav-li-hover: #7d9192;
    --background-color-seciotn: #F4FFF8;
    --background-color-footer: #BBB;   

    --border-color-content: #A7A157;
    --border-color-nav: #A7A157;
    --border-color-footer: #A7A157;

    --text-color-nav: #111;
    --text-color-footer: #FFF;

    /* 内容部分 */
    --color-section-h1: #3D3B20;
    --color-section-h2: #6A6637;
    --color-section-h3: #6A6637;
    --color-section-h4: #6A6637;
    --color-section-p: #073233;
    --color-section-a: #40AD82;

    --color-section-border-h1: #AAA;
    --color-section-border-timeline-outer: #FFA;
    --color-section-border-timeline-inner: #AFA;
    --color-section-border-timeline-date: #AAF;

    --font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    --font-size-section-p: 20px;
    --font-size-section-code : 18px;
    --font-size-menu-footer: 14px;
    --font-size-footer: 17px;

    /* 头图 */
    --background-image-body: url('./mainPagePic/向日葵.png');
    --background-image-avatar: url('./mainPagePic/绪山真寻.png');
    --background-image-header: url('./themePic/theme_Noel/Main_Noel.jpg');
}

@font-face {
    font-family: "pixel-cn";
    src: url(./TTF/ark-pixel-12px-proportional-zh_cn.woff2) format(woff2);
}

