:root {
    --header-h1-color:#FFF;
    --background-color:#f2fcfd;
    --border-color:#EEE;
    --section-color: #fffffc;
    --nav-color: #ffcfe0; 
    --nav-a-color: #D9F8FA;
    --nav-text-color:#330724;
    --h1-color:#205F61;
    --h2-color:#4E9294;
    --p-color:#073233;
    --footer-color:#BBB;
    --footer-text-color:#FFF;
    --a-color:#ff4794;
}

header {
    background-image: url('../picture/theme_Elysia/Main_Elysia.png'); 
    background-image: url('../picture/theme_Elysia/Main_Elysia.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}
#blankPage-img{
    background-image: url('../picture/theme_Elysia/404.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}


:root {
    --header-h1-color:#FFF;
    --background-color:#171818;
    --border-color:#fff;
    --section-color: #252629;
    --nav-color: #7be; 
    --nav-a-color: #7d9192;
    --nav-text-color:#fff;
    --h1-color:#9df;
    --h2-color:#CFE4FD;
    --p-color:#fff;
    --footer-color:#666;
    --footer-text-color:#FFF;
    --a-color:#aae;
}

header {
    background-image: url('../picture/theme_Lyla/Main_Lyla.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

#blankPage-img{
    background-image: url('../picture/theme_Lyla/404.png'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

:root {
    --header-h1-color:#FFF;

    --background-color:#F4FFF8;
    --border-color:#A7A157;
    --section-color: #FBFFFD;

    --nav-color: #FEE11B; 
    --nav-a-color: #D9F8FA;
    --nav-text-color:#111;

    --h1-color:#3D3B20;
    --h2-color:#6A6637;
    --p-color:#073233;

    --footer-color:#BBB;
    --footer-text-color:#FFF;

    --a-color:#40AD82;
}

header {
    background-image: url('../picture/theme_Noel/Main_Noel.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

#blankPage-img{
    background-image: url('../picture/theme_Noel/404.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}

:root {
    --header-h1-color:#FFF;
    --background-color:#171818;
    --border-color:#fff;
    --section-color: #252629;
    --nav-color: #7be; 
    --nav-a-color: #7d9192;
    --nav-text-color:#fff;
    --h1-color:#ee9;
    --h2-color:#ffd;
    --p-color:#fff;
    --footer-color:#666;
    --footer-text-color:#FFF;
    --a-color:#aae;
}

header {
    background-image: url('../picture/theme_Ribet/Main_Ribet.png'); 
    background-image: url('../picture/theme_Ribet/Main_Ribet.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}
#blankPage-img{
    background-image: url('../picture/theme_Ribet/404.jpg'); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; 
}