:root {
    --color-section-h1: #FFF;
    --color-section-h2: #FFF;
    --color-section-h3: #FFF;
    --color-section-h4: #FFF;
    --color-section-p: #FFF;
    --color-section-a: #FFF;
    --color-section-timeline: #FFF;
}

/* ========== 普通 ========== */

#section h1 {
    margin: 0px;
    padding: 1.5em 0em 0.5em;

    font-family: var(--font-family);
    font-size: 2em;

    color: var(--color-section-h1);
}

#section h2 {
    margin: 0px;
    padding: 0.2em 0em 0.2em;

    font-family: var(--font-family);
    font-size: 1.8em;

    color: var(--color-section-h2);
}

#section h3 {
    margin: 0px;
    padding: 0.1em 0em 0.1em;

    font-family: var(--font-family);
    font-size: 1.3em;

    color: var(--color-section-h3);
}

#section h4 {
    margin: 0px;
    padding: 0.1em 0em 0.1em;

    font-family: var(--font-family);
    font-size: 1.2em;

    color: var(--color-section-h4);
}

#section p{
    margin: 0px;
    padding: 0.3em 0em;

    font-family: var(--font-family);
    font-size: 1.1em;

    color: var(--color-section-p);
    text-indent: 2em;
}

#section a{
    font-family: var(--font-family);

    color: var(--color-section-a);

    text-decoration: none;
}

#section img{
    margin: auto;
    padding: 0px;

    max-width: 100%;
    display: block;
}

#section #mainPage-img{
    margin: auto;
    padding: 0px;

    width: 60%;
    display: block;
}

/* ========== 时间线 ========== */
#section .timeline{
    margin: 10px 0px 10px 0px;
    padding: 0px;

    width: auto;
    border: 1px solid var(--color-section-timeline);
    border-radius: 3px;
}

#section .timeline h2{
    margin: 0px;
    padding: 0px;

    text-align: center;
    color: var(--color-section-h2);
}

#section .timeline ul{
    margin: auto;
    padding: 0px;

    width: 95%;
    list-style: none;
}

#section .timeline li{
    line-height: 1.5em;
    border-bottom: 1px solid var(--color-section-timeline);
}

#section .timeline li:last-child{
    border: none;
}

#section .timeline .date{
    margin: 0px;
    padding: 0px 2px 0px 0px;

    font-size: 1em;
    font-family: var(--font-family);

    color: var(--color-section-p);
    border-right: 1px solid var(--color-section-timeline);
}

#section .timeline .event{
    margin: 0px;
    padding: 0px;
}

/* ========= Markdown ========= */


